@import "../../../variables";

#headline {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
#subtext {
  margin-top: 0px;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 2rem;
}
#cards {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  background-color: $background-color;
}
#lets-go {
  text-decoration: none;
  background-color: $blue;
  color: $white;
}
#hero {
  margin-bottom: 2.5rem;
  position: relative;
}
#bg {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 90%;
  margin-left: 5%;
  z-index: -1;
}
@media (min-width: 700px) {
  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #bg {
    position: static;
    margin-top: 20px;
    width: 60%;
    order: 2;
  }
  #hero-content {
    width: 50%;
    order: 1;
  }
}
