@import "../../../variables";

#bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 56px;
  background-color: $white;
  padding-left: $lr-padding;
  padding-right: $lr-padding;
  border: $border;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: calc(100svh - 113px);
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
}

#left, #right {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  background: $border-color;
  flex: 0 0 auto;
}

.btn {
  border: $border;
  color: $white;
  display: flex;
  font-size: 1.5rem;
}

.save {
  background-color: $green;
}
.miss {
  background-color: $blue;
}
.goal {
  background-color: $red;
}

#undo, #redo {
  color: $black;
  background-color: $border-color;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.position {
  border: $border;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow: hidden;
}

.cell {
  border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.cell:hover {
  background-color: $border-color;
}

@media (orientation: landscape) {
  #left, #right {
    margin: 1rem 0;
  }
  #left {
    margin-right: 1rem;
  }
  #right {
   margin-left: 1rem;
  }
  .content {
    flex-direction: row;
  }

  .divider {
    width: 1px;
    height: auto;
  }
}

@media (orientation: portrait) {
  #left, #right {
    margin: 1rem 0;
  }
  .content {
    flex-direction: column;
  }

  .divider {
    width: 100%;
    height: 1px;
  }
}

* {
  box-sizing: border-box;
}
