@import "../../../variables";

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: $white;
  padding-left: $lr-padding;
  padding-right: $lr-padding;
  border: $border;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: calc(100svh - 120px);
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
  overflow: hidden;
}

#left, #right {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.divider {
  background: $border-color;
  flex: 0 0 auto;
}

.btn {
  border: $border;
  color: $white;
  display: flex;
  font-size: 1.5rem;
}

.save {
  background-color: $green;
}
.save:active, .miss:active, .goal:active {
  color: $black;
  background-color: $border-color;
}
.miss {
  background-color: $blue;
}
.goal {
  background-color: $red;
}

#undo:active, #redo:active {
  background-color: $blue;
  color: $white;
}

#undo, #redo {
  color: $black;
  background-color: $border-color;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.position {
  border: $border;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow: hidden;
}

.position.goal-active {
  box-shadow: 0 0 40px rgba($red, 0.5);
}
.position.save-active {
  box-shadow: 0 0 40px rgba($red, 0.5);
}

.cell {
  border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.cell:active {
  background-color: $border-color;
}

@media (orientation: landscape) {
    #left, #right {
    margin-top: 1rem;
  }
  .content {
    flex-direction: row;
    gap: 1rem;
  }

  .divider {
    width: 1px;
    height: auto;
  }
}

@media (orientation: portrait) {
  #left, #right {
    margin: 1rem 0;
  }
  #right {
    margin-bottom: -2rem;
  }
  .content {
    flex-direction: column;
  }
  .divider {
    width: 100%;
    height: 1px;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

.change-goalie a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#change-mode {
  margin-left: auto;
  margin-right: 1.25rem;
}

#statistics {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (orientation: portrait) {
  #btns-right .save { order: 1; }
  #btns-right .miss { order: 2; }
  #btns-right .goal { order: 3; }
  #btns-right #redo { order: 4; }
}
