<div class="content" [class.hidden]="showPopup">
  <div id="left">
    <div class="buttons">
      <a class="save btn" (click)="addEvent('save', 0)">Gehalten</a>
      <a class="miss btn" (click)="addEvent('miss', 0)">Miss</a>
      <a class="goal btn" (click)="addEvent('goal', 0)">Tor</a>
      <a id="undo" class="btn" (click)="undo()">Rückgängig</a>
    </div>
  </div>
  <div class="divider"></div>
  <div id="right">
    <div class="buttons" id="btns-right">
      <a class="miss btn" (click)="addEvent('miss', 1)">Miss</a>
      <a class="save btn" (click)="addEvent('save', 1)">Gehalten</a>
      <a id="redo" class="btn" [ngClass]="{ freethrowing: freethrow }" (click)="doFreethrow()"
        >7 meter</a
      >
      <a class="goal btn" (click)="addEvent('goal', 1)">Tor</a>
    </div>
  </div>
</div>
<div id="popup" class="hidden" [class.hidden]="!showPopup" (click)="closePopup()">
  <div class="position">
    <div class="cell" data-row="0" data-col="0" (click)="addPosition(0, 0)"></div>
    <div class="cell" data-row="0" data-col="1" (click)="addPosition(0, 1)"></div>
    <div class="cell" data-row="0" data-col="2" (click)="addPosition(0, 2)"></div>
    <div class="cell" data-row="1" data-col="0" (click)="addPosition(1, 0)"></div>
    <div class="cell" data-row="1" data-col="1" (click)="addPosition(1, 1)"></div>
    <div class="cell" data-row="1" data-col="2" (click)="addPosition(1, 2)"></div>
    <div class="cell" data-row="2" data-col="0" (click)="addPosition(2, 0)"></div>
    <div class="cell" data-row="2" data-col="1" (click)="addPosition(2, 1)"></div>
    <div class="cell" data-row="2" data-col="2" (click)="addPosition(2, 2)"></div>
  </div>
</div>
<div id="bottom">
  <div class="change-goalie">
    <a>
      <p *ngIf="editingTeam !== 0" class="gk-name" (click)="startEditing(0)">
        {{ goalies.team1 }}
      </p>

      <input
        *ngIf="editingTeam === 0"
        [(ngModel)]="goalies.team1"
        (input)="updateInputWidth($event)"
        (blur)="stopEditing()"
        (keyup.enter)="stopEditing()"
        class="gk-name"
        autofocus
      />
    </a>
  </div>

  <div id="statistics">
    <p>{{ pqt1 | number: '1.0-0' }}% | {{ pqt2 | number: '1.0-0' }}%</p>
  </div>

  <div class="change-goalie">
    <a>
      <p *ngIf="editingTeam !== 1" class="gk-name" (click)="startEditing(1)">
        {{ goalies.team2 }}
      </p>

      <input
        *ngIf="editingTeam === 1"
        [(ngModel)]="goalies.team2"
        (input)="updateInputWidth($event)"
        (blur)="stopEditing()"
        (keyup.enter)="stopEditing()"
        class="gk-name"
        autofocus
      />
    </a>
  </div>
</div>
