

$black: #0A090C;
$blue: #0A2463;
$red: #FE5F55;
$green: #2C6E49;
$white: #ffffff;
$background-color: #E5FCF5;
$border-color: #EAEDF2;

$border-radius: 20px;
$border: 1px solid $border-color;
$lr-padding: 5vw;
