@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'variables';

.card {
    display: inline-block;
  border: $border;
  border-radius: $border-radius;
  background-color: $white;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 300px;
  height: auto;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(10, 36, 99, 0.06);
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: $border-radius;
  background-color: $white;
  border-radius: 20px;;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(10, 36, 99, 0.06);
}

.card .c-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.card .c-content {
  font-size: 14px;
}

body {
  background-color: $background-color;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: $black;
}

.content {
  position: relative;
  padding-left: $lr-padding;
  padding-right: $lr-padding;
  padding-bottom: 5vh;
}

hr {
  height: 2px;
  background-color: $border-color;
  color: $border-color;
  border: none;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: fadeUp 0.6s ease forwards;
}
