@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'variables';

.card {
  border: $border;
  border-radius: $border-radius;
  background-color: white;
  max-width: 400px;
  align-items: center;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 4px 0 rgba(10, 36, 99, 0.06);
}

.btn {
  padding: 5px 10px;
  border-radius: $border-radius;
  background-color: white;
  border-radius: 20px;;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(10, 36, 99, 0.06);
}

.card .title {
  font-size: 20px;
}

.card .content {
  font-size: 14px;
}

body {
  background-color: #E5FCF5;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: $black;
}

.content {
  position: relative;
  padding-left: $lr-padding;
  padding-right: $lr-padding;
  padding-bottom: 5vh;
}
